<html>
    <head>
    <title> Blog da Leticia</title>
    </head>

    <body>
        <div>
            <h1><a href="/">Blog da Leticia</a></h1>
        </div>

        <div>
            <h2><a href="">post 1. </a></h2>
            <p>publicado: 28.10.20, 16:26</p>
            <p>Primeiro post que eu to fazendo, aula ProgramaMenina. </p>
        </div>

        <div>
            <h2><a href="">post 2.</a></h2>
            <p>publicado: 28.10.20, 16:28</p>
            <p>Segundo post do blog, aprendendo sobre html.</p>
        </div>
    </body>
</html>